@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* generic styles */
  columns: #3a3a3a;
  font-family: "Lato", sans-serif;
}
h1 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  margin-bottom: 1.2rem;
}
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0.2rem 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
}
ul#menu li {
  list-style-type: none;
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
/* nav bar with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding-left: 1rem;
  display: none;
  top: 100%;
}
/* nav toffle */
#nav-toggle:checked ~ nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
main {
  background-color: lightblue;
  flex: 1 0 auto;
}

ul#social {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  list-style-type: none;
  padding: 20px 0;
}
ul#social i {
  font-size: 1.6rem;
  color: #3a3a3a;
}
@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    width: fit-content;
    box-shadow: none;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
  }
  #menu li {
    padding: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  main {
    margin-top: 93px;
  }
}
@media screen and (min-width: 992px) {
  #menu li a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
