@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* generic styles */
  columns: #3a3a3a;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  margin-bottom: 1.2rem;
}
.hidden-heading {
  display: none;
}

header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0.2rem 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
}
ul#menu li {
  list-style-type: none;
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
/* nav bar with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding-left: 1rem;
  display: none;
  top: 100%;
}
/* nav toffle */
#nav-toggle:checked ~ nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
main {
  flex: 1 0 auto;
}
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}
#cover-text {
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 1.3rem;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}
#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
}

ul#social {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  list-style-type: none;
  padding: 20px 0;
}
ul#social i {
  font-size: 1.6rem;
  color: #3a3a3a;
}
#reasons {
  width: 90%;
  margin: 20px auto;
}
#reasons h2 {
  text-align: center;
  font-size: 280%;
  margin-bottom: 2rem;
}
.benefits-container {
  line-height: 20px;
  margin-bottom: 2rem;
}
.benefits-container h3 {
  margin-bottom: 0.3rem;
}
.benefits-container p {
  margin-top: 20px;
  padding: 0 20px;
}

hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#circle-cover-background {
  background: url("../images/reasons-image.webp") no-repeat center center/cover;
  width: 90vw;
  height: 90vh;
  margin-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}
#benefits-image {
  display: flex;
  justify-content: center;
}

#times {
  background: url("../images/dublin-city.webp") no-repeat center center / cover;
  display: flex;
  flex-wrap: wrap;
}
#times > div {
  text-align: center;
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  flex-basis: 200px;
  flex-grow: 1;
  padding: 1rem 0;
  border: 2px solid white;
}
#times h3 {
  color: #fafafa;
}

#photos {
  line-height: 0;
}
#photos img {
  width: 100%;
  line-height: 1em;
  overflow: hidden;
}
main {
  margin-top: 67px;
}
/* media queries */
@media screen and (min-width: 576px) {
  #photos {
    column-count: 2;
    column-gap: 0;
  }
}
@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    width: fit-content;
    box-shadow: none;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
  }
  #menu li {
    padding: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  main {
    margin-top: 93px;
  }
  #cover-text {
    width: 300px;
    right: 50px;
  }
  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%;
  }
  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }
  #photos {
    column-count: 3;
  }
}
@media screen and (min-width: 992px) {
  #menu li a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
  #photos {
    column-count: 3;
  }
}
@media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
  }
  #benefits > div {
    flex: 1;
  }
  #benefits-physical {
    align-self: flex-start;
  }
  #benefits-image {
    order: 1;
  }
  #benefits-mental {
    order: 2;
  }
  #benefits-mental > div {
    align-self: flex-end;
  }
}
